.game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.viewport {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.game-world {
  width: 640px; /* 10 tiles * 64px */
  height: 640px; /* 10 tiles * 64px */
  position: relative;
}

.artifact {
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;

}

.tile {
  width: 64px;
  height: 64px;
  position: absolute;
  background-size: cover;
}
.grass {
  background: url("../assets/tiles/grass.webp") no-repeat center center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(1, 37, 1, 0.5);
}

.wall {
  background: url("../assets/tiles/wall.webp") no-repeat center center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.water {
  background: url("../assets/tiles/water.webp") no-repeat center center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(2, 2, 171, 0.5);
}

.sand {
  background: url("../assets/tiles/sand.png") no-repeat center center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(167, 167, 19, 0.5);
}
